<div class="sus-sudoku-grid__grid">
  <div class="sus-sudoku-grid__row" *ngFor="let row of sudokuData; let rowIndex = index">
    <div class="sus-sudoku-grid__cell" *ngFor="let cell of row; let colIndex = index">
      <ng-container *ngIf="cell.value">
        {{cell.value}}
      </ng-container>
      <ng-container *ngIf="!cell.value">
        <ng-container *ngFor="let possibility of range(10);">
          <div class="sus-sudoku-cell__possibility" *ngIf="cell.possibilities.includes(possibility)" (click)="setCellValue(rowIndex, colIndex, possibility)">
            {{possibility}}
          </div>
          <div class="sus-sudoku-cell__possibility" *ngIf="possibility>0 && !cell.possibilities.includes(possibility)">
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>